.container {
  width: 1200px;
  margin: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  height: 100px;
  background-image: url("../img/pattern.png");
  background-size: 300px 200px;
  background-color: cornflowerblue;
  position: relative;
}

.logo {
  height: 50px;
  position: absolute;
  left: 10px;
  bottom: 15px;
}

section {
  margin-top: 15px;
  margin-bottom: 15px;
}

h1 {
  font-size: 50px;
}

.info {
  color: gray;
}

.date {
  font-size: 15px;
}

a {
  color: royalblue;
  text-decoration: none;
}

.photo-description {
  font-size: 15px;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th { 
  background: #6495ED;
  width: 24%;
  color: white;
}

thead th:nth-child(3){
  width: 48%;
}

tr {
  background-color: #cce6ff;
}

tbody tr:nth-child(2){
  background-color:  #e6f2ff;
}

h4 {
  color: dimgray;
}

.img1 {
  background-image: url('../img/graph.jpg');
}

.img2 {
  background-image: url('../img/monitor.jpg');
}

.img1, .img2 {
  height: 200px;
  width: 250px;
  color: white;
  background-position: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
}





